#server-page{
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-y: visible;
    margin-bottom: 50px;

    #aws-requests-content{
        width: 100%;

        #toolbar-row{
            background: #444;
        }

        #aws-requests-table{
            display: inline-block;
            vertical-align: top;
            padding-bottom: 5px;
            width: 100%;
            overflow-y: visible;
            border: 0px solid black;
            
            #aws-requests-table--content{
                width: 100%;
            }
        }

        #create-spot-request-btn {
            position: absolute;
            right: 20px;
        }

        .open-menu{
            border-radius: 300px;
            cursor: pointer;
            padding: 4px;
        }
    }
}