#job-details-page{
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-y: visible;
    margin-bottom: 50px;

    #job-details-content{
        width: 100%;

        #toolbar-row{
            background: #444;
            .action-btn{
                margin-right: 20px;
                color: white;
            }
        }

        #job-details-wrapper{
            min-height: 350px;
        }

        #job-details-fields {
            padding: 20px;
            padding-left: 50px;

            @media screen and (max-width: 600px){
                padding: 5px;
            }

            .field-info{
                color: #777;
                display: inline-block;
                width: 124px;
                padding-bottom: 8px;
            }
        }

        #progress-number {
            text-align: center;
            padding: 24px;
            font-size: 29px;
        }
        #status-info {
            color: #777;
            text-align: center;
        }

        #metrics-wrapper{
            padding: 20px;
            padding-left: 50px;
            margin-bottom: 30px;

            #select-metric{
                width: 300px;
            }
        }
    }
}