#job-details-page{
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-y: visible;
    margin-bottom: 50px;

    #job-details-content{
        width: 100%;

        #toolbar-row{
            background: #444;
        }

        #job-details-wrapper{
            min-height: 350px;
        }

        #action-menu{
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            
            .action-btn{
                margin-right: 20px;
            }
        }
    }
}