#create-keys-dialog{
    @include mdc-dialog-max-width(460px, $mdc-dialog-margin);

    .mdc-dialog__container{
        max-width: 460px;
    }
    #keystore-table-content{
        min-width: 400px;
    }
}

#show-public-key-dialog{
    @include mdc-dialog-max-width(625px, $mdc-dialog-margin);

    .mdc-dialog__container{
        max-width: 625px;
    }

    #public-key-content {
        white-space: pre-line;
        font-family: monospace;
        color: black;
        background: #efefef;
        padding: 17px;
        font-size: 12px;
        word-wrap: break-word;
        width: 520px;
        padding-left: 40px;
        margin-top: 20px;
    }
}