#create-job-dialog{
    @include mdc-dialog-max-width(760px, $mdc-dialog-margin);

    #dialog-content{
        padding: 0px;
    }

    #tab-content {
        width: 100%;
        max-width: 800px;
        height: 300px;
        padding: 35px;
        box-sizing: border-box;
    }
}