#mlpipe-footer {
    background: #353535;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 80px;
    padding-top: 20px;
    @media screen and (max-width: 580px) {
        flex-direction: column;
    }

    .copy-right{
        position: absolute;
        color: #5a5a5a;
        bottom: 29px;
        margin-left: calc(50% - 100px);
        width: 200px;
        text-align: center;
    }

    .section{
        color: white;
        display: flex;
        flex-direction:column;
        flex: 1;
        align-items: center;

        .section--content{
            @media screen and (max-width: 580px) {
                text-align: center;
            }
            h4{
                color: #5a5a5a;
                font-weight: 400;
            }
            span{
                display: block;
                font-size: 15px;
                padding-bottom: 16px;
            }
        }
    }
}