@import "@material/select/mdc-select";
// variables must be first import
@import 'scss/variables';

// MDC SCSS files
@import 'material-components-web/material-components-web';
@import '@material/toolbar/mdc-toolbar';
@import '@rmwc/data-table/data-table';

// SCSS files which are not component specific
@import 'scss/mixins';
@import 'scss/overrides';
@import 'scss/main';
@import 'scss/placeholder';

// Component specific SCSS files
@import 'components/layout/index';
@import 'components/header/index';
@import 'components/login/index';
@import 'components/validation/index';
@import 'components/user/index';
@import 'components/user/keystore';
@import 'components/dashboard/index';
@import 'components/jobs/index';
@import 'components/jobs/createJob.dialog';
@import 'components/jobDetails/index';
@import 'components/jobDetails/getJobToken.dialog';
@import 'components/jobDetails/displayLog';
@import 'components/adminPanel/index';