$mdc-theme-primary: #934ebf;
$mdc-theme-on-primary: #fff;

$mdc-theme-secondary: #424242;;
$mdc-theme-on-secondary: #fff;

$mdc-theme-error: #e84e4e;
$mdc-theme-on-error: #fff !default;

$mdc-theme-background: #f5f5f5;
$mdc-theme-surface: #fff;

$link-color: #6464e4;

$size-tablet: 840px;
$size-phone: 480px;
//$max-content-width: 1200px;

$mdc-typography-font-family: 'Lato', sans-serif !default;
$mdc-typography-font-family-logo: 'Press Start 2P';