$mdc-theme-primary: #404040;
$mdc-theme-accent: #8bc34a;
$mdc-theme-background: #fff;
$link-color: #6464e4;
$error-color: #e84e4e;
$background-light: #f6f6f6;

$size-tablet: 840px;
$size-phone: 480px;

$max-content-width: 1200px;

$mdc-typography-font-family: 'Montserrat', sans-serif !default;